<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>IKSPI Kera Sakti - Rembang IKSPI Official Website</title>

    <!-- Site favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/vendors/images/ikspi-title-logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/vendors/images/ikspi-title-logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/vendors/images/ikspi-title-logo.png"
    />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendors/styles/icon-font.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/plugins/datatables/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/plugins/datatables/css/responsive.bootstrap4.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
      crossorigin="anonymous"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <div class="header">
      <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
      </div>
      <div class="header-right">
        <div class="user-info-dropdown">
          <div class="dropdown">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              <span class="user-icon">
                <img src="{{.PhotoPath}}" alt="" />
              </span>
              <span class="user-name">{{.Fullname}}</span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
            >
              <a class="dropdown-item" href="/api/users/me"
                ><i class="dw dw-user1"></i> profile</a
              >
              <a class="dropdown-item" href="/api/auth/signin"
                ><i class="dw dw-logout"></i> log out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="left-side-bar">
      <div class="brand-logo">
        <a href="/users/dashboard">
          <img
            src="/vendors/images/new-logo-test.png"
            alt=""
            class="dark-logo"
          />
          <img
            src="/vendors/images/new-logo-test.png"
            alt=""
            class="light-logo"
          />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
          <i class="ion-close-round"></i>
        </div>
      </div>
      <div class="menu-block customscroll">
        <!-- SETUP SIDEBAR -->

        <div class="sidebar-menu">
          <ul id="accordion-menu">
            <li>
              <a href="/users/dashboard" class="dropdown-toggle no-arrow">
                <span class="micon bi bi-calendar4-week"></span
                ><span class="mtext">Dashboard</span>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon bi bi-textarea-resize"></span
                ><span class="mtext">Input Data</span>
              </a>
              <ul class="submenu">
                <li><a href="/api/absen/form">Absensi</a></li>
                <li><a href="/progress/form">Progress Latihan</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon bi bi-lock"></span
                ><span class="mtext">Enkripsi</span>
              </a>
              <ul class="submenu">
                <li><a href="/api/absen/encode">Absensi</a></li>
                <li><a href="/progress/encode">Progress Siswa</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon bi bi-unlock"></span
                ><span class="mtext">Dekripsi</span>
              </a>
              <ul class="submenu">
                <li><a href="/api/absen/decode">Absensi</a></li>
                <li><a href="/progress/decode">Progress Siswa</a></li>
              </ul>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <div class="sidebar-small-cap">Lainnya</div>
            </li>
            <li>
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon bi bi-file-pdf"></span
                ><span class="mtext">Dokumentasi</span>
              </a>
              <ul class="submenu">
                                <li><a href="/users/pengenalan">Introduction</a></li>
                                <li><a href="/users/getstart">Getting Started</a></li>
              </ul>
            </li>
            <li>
              <a
                href="https://dropways.github.io/deskapp-free-single-page-website-template/"
                target="_blank"
                class="dropdown-toggle no-arrow"
              >
                <span class="micon bi bi-question-octagon"></span>
                <span class="mtext">Help </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu-overlay"></div>
    <div class="main-container">
      <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
          <div class="page-header">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="title">
                  <h4>Absensi</h4>
                </div>
                <nav aria-label="breadcrumb" role="navigation">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/users/dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Absensi
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <!-- Simple Datatable start -->
          <div class="card-box mb-30">
            <div class="pd-20">
              <h4 class="text-blue h4">Table Encode Absensi</h4>
            </div>
            <div class="pb-20">
              <table class="data-table table stripe hover nowrap">
                <thead>
                  <tr>
                    <th class="table-plus datatable-nosort">Nama Siswa</th>
                    <th>Hari</th>
                    <th>Lokasi</th>
                    <th>Tanggal</th>
                    <th>Kehadiran</th>
                    <th>Informasi Medis</th>
                    <th class="datatable-nosort">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range $index, $presensi := .Absensi}}
                  <tr>
                    <td class="table-plus">{{$presensi.NamaSiswa}}</td>
                    <td>{{$presensi.Hari}}</td>
                    <td>{{$presensi.Lokasi}}</td>
                    <td>{{$presensi.TanggalWaktu}}</td>
                    <td>{{$presensi.Kehadiran}}</td>
                    <td>{{$presensi.InformasiMedis}}</td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          data-toggle="dropdown"
                          type="button"
                        >
                          <i class="dw dw-more"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                        >
                          <a class="dropdown-item" href="#"
                            ><i class="dw dw-eye"></i> View</a
                          >

                          <a
                            class="dropdown-item"
                            href="#"
                            data-toggle="modal"
                            data-target="#modal-decode"
                            ><i class="dw dw-edit2"> </i>
                            Decode
                          </a>

                          <a class="dropdown-item" href="#"
                            ><i class="dw dw-delete-3"></i> Delete</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                  <div
                    class="modal fade"
                    id="modal-decode"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myLargeModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div
                          class="login-box bg-white box-shadow border-radius-10"
                        >
                          <div class="login-title">
                            <h2 class="text-center text-primary">
                              Decode Key Required
                            </h2>
                          </div>
                          <form
                            method="post"
                            action="/api/absen/decode/{{$presensi.ID}}"
                          >
                            <div class="input-group custom">
                              <input
                                type="text"
                                name="decodekey"
                                class="form-control form-control-lg"
                                placeholder="Masukan Key Dekripsi Anda"
                              />
                              <div class="input-group-append custom">
                                <span class="input-group-text"
                                  ><i class="bi bi-key"></i
                                ></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="input-group mb-0">
                                  <input
                                    class="btn btn-primary btn-lg btn-block"
                                    type="submit"
                                    value="Decode"
                                  />
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- js -->
    <script src="/vendors/scripts/core.js"></script>
    <script src="/vendors/scripts/script.min.js"></script>
    <script src="/vendors/scripts/process.js"></script>
    <script src="/vendors/scripts/layout-settings.js"></script>
    <script src="/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="/src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="/src/plugins/datatables/js/vfs_fonts.js"></script>
    <!-- Datatable Setting js -->
    <script src="/vendors/scripts/datatable-setting.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
