<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>IKSPI Kera Sakti - Rembang IKSPI Official Website</title>

    <!-- Site favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/vendors/images/ikspi-title-logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/vendors/images/ikspi-title-logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/vendors/images/ikspi-title-logo.png"
    />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendors/styles/icon-font.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/plugins/datatables/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/plugins/datatables/css/responsive.bootstrap4.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
      crossorigin="anonymous"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <div class="header">
      <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
      </div>
      <div class="header-right">
        <div class="user-info-dropdown">
          <div class="dropdown">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              <span class="user-icon">
                <img src="{{.PhotoPath}}" alt="" />
              </span>
              <span class="user-name">{{.Fullname}}</span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
            >
              <a class="dropdown-item" href="/api/users/me"
                ><i class="dw dw-user1"></i> profile</a
              >
              <a class="dropdown-item" href="/login"
                ><i class="dw dw-logout"></i> log out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="left-side-bar">
      <div class="brand-logo">
        <a href="/users/dashboard">
          <img
            src="/vendors/images/new-logo-test.png"
            alt=""
            class="dark-logo"
          />
          <img
            src="/vendors/images/new-logo-test.png"
            alt=""
            class="light-logo"
          />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
          <i class="ion-close-round"></i>
        </div>
      </div>
      <div class="menu-block customscroll">
        <!-- SETUP SIDEBAR -->

        <div class="sidebar-menu">
          <ul id="accordion-menu">
            <li>
              <a href="/users/dashboard" class="dropdown-toggle no-arrow">
                <span class="micon bi bi-calendar4-week"></span
                ><span class="mtext">Dashboard</span>
              </a>
            </li>

            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon bi bi-lock"></span
                ><span class="mtext">User Data</span>
              </a>
              <ul class="submenu">
                <li><a href="/admin/access">User Akses</a></li>
                <li><a href="/admin/list">User List</a></li>
              </ul>
            </li>

            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <div class="sidebar-small-cap">Lainnya</div>
            </li>
            <li>
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon bi bi-file-pdf"></span
                ><span class="mtext">Dokumentasi</span>
              </a>
              <ul class="submenu">
                <li><a href="/users/pengenalan">Pengenalan</a></li>
                <li><a href="/users/getstart">Penggunaan</a></li>
              </ul>
            </li>
            <li>
              <a
                href="https://dropways.github.io/deskapp-free-single-page-website-template/"
                target="_blank"
                class="dropdown-toggle no-arrow"
              >
                <span class="micon bi bi-question-octagon"></span>
                <span class="mtext">Help </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu-overlay"></div>
    <div class="main-container">
      <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
          <div class="page-header">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="title">
                  <h4>Akses User</h4>
                </div>
                <nav aria-label="breadcrumb" role="navigation">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/users/dashboard">Home</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">
                      Akses User
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <!-- Simple Datatable start -->
          <div class="card-box mb-30">
            <div class="pd-20">
              <h4 class="text-blue h4">List user access key</h4>
            </div>
            <div class="pb-20">
              <table class="data-table table stripe hover nowrap">
                <thead>
                  <tr>
                    <th class="table-plus datatable-nosort">Nama Siswa</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>ID</th>
                    <th>Decode Key</th>
                    <th>Verified</th>
                    <th>Address</th>
                    <th class="datatable-nosort">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range $index, $data := .Users}}
                  <tr>
                    <td class="table-plus">{{$data.FullName}}</td>
                    <td>{{$data.Email}}</td>
                    <td>{{$data.Gender}}</td>
                    <td>{{$data.ID}}</td>
                    <td>{{$data.Acc}}</td>
                    <td>{{$data.Verified}}</td>
                    <td>{{$data.Address}}</td>
                    <td>
                      <div class="dropdown">
                        <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                        >
                          <i class="dw dw-more"></i>
                        </a>
                        <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                        >
                          <a
                            class="dropdown-item"
                            href="#"
                            data-toggle="modal"
                            data-target="#success-modal"
                            ><i class="bi bi-unlock"></i> Get Access
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <!-- modal success -->
                  <div
                    class="modal fade"
                    id="success-modal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-centered"
                      role="document"
                    >
                      <div class="modal-content">
                        <div class="modal-body text-center font-18">
                          <h3 class="mb-20">Accces Telah Diberikan!</h3>
                          <div class="mb-30 text-center">
                            <img src="/vendors/images/success.png" />
                          </div>
                          Anda tela memberi access Decode Key kepada
                          {{$data.FullName}}
                        </div>
                        <div class="modal-footer justify-content-center">
                          <form
                            method="post"
                            action="/admin/keyaccess/{{$data.ID}}"
                          >
                            <button type="submit" class="btn btn-primary">
                              Done
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal Update -->
                  <div
                    class="modal fade"
                    id="modal-update-absen"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myLargeModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered w-50 mw-100">
                      <div class="modal-content container">
                        <div class="modal-body">
                          <div class="bg-white box-shadow border-radius-10">
                            <div class="login-title">
                              <h3 class="text-center text-primary">
                                Update Data Absensi
                                <p></p>
                              </h3>
                            </div>
                            <form
                              class="tab-wizard2 wizard-circle wizard"
                              method="post"
                              action="/api/absen/update/{{$data.ID}}"
                            >
                              <section>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Hari :</label>
                                      <select
                                        class="custom-select2 form-control"
                                        name="hari"
                                        style="width: 100%; height: 38px"
                                      >
                                        <option value="senin">Senin</option>
                                        <option value="selasa">Selasa</option>
                                        <option value="rabu">Rabu</option>
                                        <option value="kamis">Kamis</option>
                                        <option value="jumat">Jum'at</option>
                                        <option value="sabtu">Sabtu</option>
                                        <option value="minggu">Minggu</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Tanggal :</label>
                                      <input
                                        name="date"
                                        class="form-control date-picker"
                                        placeholder="Select Date"
                                        type="text"
                                      />
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Kehadiran :</label>
                                      <select
                                        class="custom-select2 form-control"
                                        name="kehadiran"
                                        style="width: 100%; height: 38px"
                                      >
                                        <option value="Hadir">Hadir</option>
                                        <option value="Tidak Hadir">
                                          Tidak Hadir
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Lokasi :</label>
                                      <select
                                        class="custom-select2 form-control"
                                        name="lokasi"
                                        style="width: 100%; height: 38px"
                                      >
                                        <option
                                          value="Lapangan Polsek Karangjahe"
                                        >
                                          Lapangan Polsek Karangjahe
                                        </option>
                                        <option value="Lapangan SMP 1 Kragan">
                                          Lapangan SMP 1 Kragan
                                        </option>
                                        <option value="Lapangan Desa Serambit">
                                          Lapangan Desa Serambit
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Catatan Kesehatan</label>
                                      <textarea
                                        class="form-control"
                                        name="catatankesehatan"
                                      ></textarea>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <p class="mb-30"></p>
                              <button
                                type="submit"
                                id="success-modal-btn"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="#success-modal"
                                data-backdrop="static"
                              >
                                Simpan
                              </button>
                              <div
                                class="modal fade"
                                id="success-modal"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="exampleModalCenterTitle"
                                aria-hidden="true"
                              >
                                <div
                                  class="modal-dialog modal-dialog-centered max-width-400"
                                  role="document"
                                >
                                  <div class="modal-content">
                                    <div class="modal-body text-center font-18">
                                      <h3 class="mb-20">Form Submitted!</h3>
                                      <div class="mb-30 text-center">
                                        <img
                                          src="/vendors/images/success.png"
                                        />
                                      </div>
                                      Lorem ipsum dolor sit amet, consectetur
                                      adipisicing elit, sed do eiusmod
                                    </div>
                                    <div
                                      class="modal-footer justify-content-center"
                                    >
                                      <a
                                        href="/api/absen/encode"
                                        class="btn btn-primary"
                                        >Done</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- js -->
    <script src="/vendors/scripts/core.js"></script>
    <script src="/vendors/scripts/script.min.js"></script>
    <script src="/vendors/scripts/process.js"></script>
    <script src="/vendors/scripts/layout-settings.js"></script>
    <script src="/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="/src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="/src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="/src/plugins/datatables/js/vfs_fonts.js"></script>
    <!-- Datatable Setting js -->
    <script src="/vendors/scripts/datatable-setting.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
